@page
@model FreshFarmMarket_201382M.Pages.Error._400Model
@{
    ViewData["Title"] = "400 Bad Request";
}

<div class="container text-center my-4">
    <h1 class="fw-bold mb-3">400 Bad Request</h1>
    <a asp-page="/Index" class="btn btn-primary btn-lg">Go Home</a>
</div>
