@page
@model FreshFarmMarket_201382M.Pages.Error._401Model
@{
    ViewData["Title"] = "401 Unauthorised";
}

<div class="container text-center my-4">
    <h1 class="fw-bold mb-3">401 Unauthorised</h1>
    <a asp-page="/Index" class="btn btn-primary btn-lg">Go Home</a>
</div>
