@page
@model FreshFarmMarket_201382M.Pages.Error._403Model
@{
    ViewData["Title"] = "403 Forbidden";
}

<div class="container text-center my-4">
    <h1 class="fw-bold mb-3">403 Forbidden</h1>
    <a asp-page="/Index" class="btn btn-primary btn-lg">Go Home</a>
</div>
