@page
@model FreshFarmMarket_201382M.Pages.Error._503Model
@{
    ViewData["Title"] = "503 Service Unavailable";
}

<div class="container text-center my-4">
    <h1 class="fw-bold mb-3">503 Service Unavailable</h1>
    <p class="mb-4">Something happened on our end, resulting in this error.</p>
    <a asp-page="/Index" class="btn btn-primary btn-lg">Go Home</a>
</div>
