@page
@model FreshFarmMarket_201382M.Pages.LoungeModel
@{
    ViewData["Title"] = "Members' Lounge";
}

<div class="container my-4">
    <div class="text-center">
        <h1 class="fw-bold mb-3">Members' Lounge</h1>
        <p>Thank you for being a member with Fresh Farm Market!</p>
        <p>The Members' Lounge is currently under development.</p>
        <p>Check back another time!</p>
    </div>
</div>
